<!-- <div id="layoutSidenav"> -->
    <div id="layoutSidenav_nav" >
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading"> MAIN NAVIGATION </div>
                    <a class="nav-link" href="/q/showQues">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Questions
                    </a>
                    <a class="nav-link" href="/u/getAll">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                         User
                    </a>
                    <a class="nav-link" href="/g">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                         Host
                    </a>
                    
    
                </div>
            </div>
        </nav>
    </div>